# ìœ„ì¹˜ í†µê³„ëŸ‰

í†µê³„ëŸ‰ì˜ í•„ìš”ì„± : ê°„ë‹¨í•˜ê²Œ í™•ë¥ ë¶„í¬ í™•ì¸ 
- í†µê³„ëŸ‰ : í™•ë¥  ë¶„í¬ì˜ íŠ¹ì„±ì„ ë‚˜íƒ€ë‚´ëŠ” ì§€í‘œ ì˜ë¯¸
- í†µê³„ëŸ‰ ê³„ì‚°í•˜ëŠ” ê¸°ìˆ í†µê³„(=ê¸°ì´ˆí†µê³„) ë°”íƒ• -> í™•ë¥ ë¶„í¬ ê°„ë‹¨í•˜ê²Œ í™•ì¸ ê°€ëŠ¥ 
- ë³€ìˆ˜ê°€ ë§ì„ ê²½ìš° í›¨ì”¬ íš¨ìœ¨ì  

í†µê³„ëŸ‰ ì¢…ë¥˜ 
- ëŒ€í‘œ í†µê³„ëŸ‰ : ë°ì´í„°ì˜ ì¤‘ì‹¬ / ì§‘ì¤‘ ê²½í–¥ ë‚˜íƒ€ëƒ„ (ex. í‰ê· , ìµœë¹ˆê°’ ë“±)
- ì‚°í¬ í†µê³„ëŸ‰ : ë°ì´í„°ì˜ í¼ì§„ ì •ë„ ë‚˜íƒ€ëƒ„ (ex. ë¶„ì‚°, ë²”ìœ„, í‘œì¤€í¸ì°¨)
- ë¶„í¬ í†µê³„ëŸ‰ : ë°ì´í„°ì˜ ìœ„ì¹˜ ì •ë³´ / ëª¨ì–‘ ë‚˜íƒ€ëƒ„ (ex. ì™œë„, ì²¨ë„, ì‚¬ë¶„ìœ„ìˆ˜, ìµœëŒ“ê°’, ìµœì†Ÿê°’)

--- 

## ê¸°ìˆ í†µê³„ëŸ‰ 
ë°ì´í„°ì˜ íŠ¹ì§• ìš”ì•½, ê¸°ìˆ í•˜ëŠ” í†µê³„ëŸ‰ 

- ìœ„ì¹˜í†µê³„ëŸ‰(measure of location)
    - ë°ì´í„°ì˜ ì¤‘ì‹¬, ìœ„ì¹˜ë¥¼ ë‚˜íƒ€ë‚´ëŠ” ì²™ë„(ëŒ€í‘œê°’)
    - í‰ê· , ì¤‘ìœ„ìˆ˜, ì ˆì‚¬í‰ê· , ìµœë¹ˆìˆ˜, ì‚¬ë¶„ìœ„ìˆ˜ ë“± 
- ë³€ì´í†µê³„ëŸ‰(measure of dispersion)
    - ë°ì´í„°ì˜ í¼ì§, í©ì–´ì§„ ì •ë„ë¥¼ ë‚˜íƒ€ë‚´ëŠ” ì²™ë„(ì‚°í¬ë„)
    - í‘œì¤€í¸ì°¨, ë¶„ì‚°, ì‚¬ë¶„ìœ„ê°„ ë²”ìœ„ ë“± 
- ëª¨ì–‘ í†µê³„ëŸ‰(measure of shape)
    - ì™œë„ : ì¤‘ì‹¬ìœ„ì¹˜ë¡œ ë¶€í„° ì–´ëŠ í•œìª½ìœ¼ë¡œ ì¹˜ìš°ì¹œ ì •ë„ë¥¼ ë‚˜íƒ€ë‚´ëŠ” ì²™ë„ 
    - ì²¨ë„ : ë¶„í¬ì˜ ë¾°ì¡±í•œ ì •ë„

### 1. ìœ„ì¹˜í†µê³„ëŸ‰(ì¤‘ì‹¬ê²½í–¥ì„±)

#### í‰ê· (mean)
ê°€ì¥ ë§ì´ ì‚¬ìš©ë˜ëŠ” ëŒ€í‘œê°’ 
- ì‚°ìˆ í‰ê·  : ëª¨ë“  ë°ì´í„°ì˜ í•© / ë°ì´í„°ì˜ ê°œìˆ˜
    - ê³„ì‚°ì´ ì‰½ê³  ìˆ˜í•™ì ìœ¼ë¡œ í™œìš©í•˜ê¸° í¸ë¦¬í•˜ë©°, ê° ìë£Œì— ëŒ€í•´ ìœ ì¼í•œ ê°’ì„ ê°€ì§ 
    - ë¶„ì‚°ì˜ ê³„ì‚°, ëª¨ìˆ˜ ì¶”ì •, ê°€ì„¤ ê²€ì • ë“± í†µê³„ë¶„ì„ì˜ ëŒ€í‘œì ì¸ í†µê³„ëŸ‰ìœ¼ë¡œ ë„ë¦¬ ì‚¬ìš©ë¨ 
    - ê·¹ë‹¨ì¹˜ê°€ ìˆëŠ” ê²½ìš° í‰ê· ì´ ì™œê³¡ë  ìˆ˜ ìˆìŒ -> ì´ê²½ìš°ì—ëŠ” ëŒ€í‘œê°’ìœ¼ë¡œ ì¤‘ì•™ê°’ì„ ì‚¬ìš© 
- ëª¨í‰ê·  : ê°’ì„ êµ¬í•˜ê¸° ìœ„í•œ ëª¨ë“  ë°ì´í„°ë“¤ì˜ í‰ê·  
- í‘œì¤€í‰ê·  :  ëª¨ë“  ê°’ì„ êµ¬í•  ìˆ˜ ì—†ê¸° ë•Œë¬¸ì— ì‹ ë¢°ë„ê°€ í›¼ì†ë˜ì§€ ì•ŠëŠ” ì„ ì—ì„œ ê°’ë“¤ì„ ì¶”ì¶œí•˜ì—¬ êµ¬í•œ í‰ê·

#### ì‚°ìˆ í‰ê·

In [1]:
 

import numpy as np
import pandas as pd
import matplotlib.pyplot  as plt

x = [1,2,3,4,5]
print(np.mean(x))
print(np.array(x).mean())
print(pd.Series(x).mean())

print()

# ì´ì§„ë³€ìˆ˜ì— ëŒ€í•œ í‰ê·   - ì´ì§„ë³€ìˆ˜ì— ëŒ€í•œ ì‚°ìˆ í‰ê·  : 1ì˜ ë¹„ìœ¨ê³¼ ê°™ìŒ 
 
x1 = [1,0,0,0,1]
print(np.mean(x1))
print(np.array(x1).mean())
print(pd.Series(x1).mean())

3.0
3.0
3.0

0.4
0.4
0.4

In [2]:
df = pd.read_csv('c:\my_python\data\ch2_scores_em.csv', index_col = 'student number')
print(df.head())
print(df.shape)

                english  mathematics
student number
1                    42           65
2                    69           80
3                    56           63
4                    41           63
5                    57           76
(50, 2)

In [3]:
# 10ê°œ ì˜ì–´ì ìˆ˜ë§Œ ì¶”ì¶œ í›„ ì €ì¥ 

scores = np.array(df['english'])[:10]
scores # <class 'numpy.ndarray'>

array([42, 69, 56, 41, 57, 48, 65, 49, 65, 58], dtype=int64)

In [4]:
scores_df = pd.DataFrame({'scores':scores}, 
                          index = pd.Index(['A','B','C','D','E','F','G','H','I','J'],
                          name='student'))
scores_df

         scores
student
A            42
B            69
C            56
D            41
E            57
F            48
G            65
H            49
I            65
J            58

In [5]:
# ì‚°ìˆ í‰ê· 
# scores : numpy ë°°ì—´
# scores_df : pandas ë°ì´í„°í”„ë ˆì„
print(sum(scores)/len(scores))
print(np.mean(scores)) # ë„˜íŒŒì´ í‰ê·  êµ¬í•˜ê¸°
print(scores.mean()) # ë„˜íŒŒì´ í‰ê·  êµ¬í•˜ê¸°
print(scores_df.mean()) # íŒë‹¤ìŠ¤ í‰ê·  êµ¬í•˜ê¸° 
print()
#ë¹„êµí•´ë³´ê¸° 
x = [1,2,3,4,5]
print(np.mean(x))
print(np.array(x).mean())
print(pd.Series(x).mean())

55.0
55.0
55.0
scores    55.0
dtype: float64

3.0
3.0
3.0

#### ê¸°í•˜í‰ê·  
- nê°œì˜ ì–‘ìˆ˜ ê°’ì„ ëª¨ë‘ ê³±í•œê²ƒì˜ nì œê³±ê·¼ 
- ì„±ì¥ë¥  í‰ê·

- ì•„ë˜ yearë°ì´í„°ëŠ” ì–´ëŠ íšŒì‚¬ì˜ ë§¤ì¶œ ì¦ê°€ìœ¨ì„ ìˆ˜ì§‘í•´ë†’ì€ ë°ì´í„°ì´ë‹¤. 
- 1ì°¨ë…„ë„ì— 200%, 2ì°¨ë…„ë„ì— 800%, 3ì°¨ë…„ë„ì— 300% ì„±ì¥ì„ í–ˆë‹¤ë©´ ì—°í‰ê·  ì„±ì¥ë¥ ì€ ì–´ë–»ê²Œ ë˜ëŠ”ê°€?

In [6]:
year = [2,8,3]

#ì‚°ìˆ í‰ê· 
print(np.mean(year)) # 4.333333333333333

# ë§¤ë…„ 430% ì„±ì¥ìœ¼ë¡œ ë‚˜íƒ€ë‚¨ - 1ì°¨ë…„ë„ì— 430í¼ 2ì°¨ë…„ë„ 430í¼, 3ì°¨ë…„ë„ 430í¼ ë¼ë©´ ì „ë…„ëŒ€ë¹„ ì„±ì¥ì´ë¯€ë¡œ
# ì´ íšŒì‚¬ëŠ” 3ê°œë…„ë™ì•ˆ 430*430*430 ì„±ì¥í•œê²Œ ë˜ë¯€ë¡œ ì´ 79507000 ì„±ì¥í•œìƒí™©ì´ ë¨  

# ì‹¤ì œ ì„±ì¥ì€ 200*800*300 ì´ë¯€ë¡œ ì°¨ì´ê°€ ë§ë‹¤. 

# ì´ë ‡ê²Œ ê³±í•˜ê¸°ë¥¼ í•´ì„œ ë‚˜ì˜¤ëŠ” ê°’ì— ëŒ€í•œ í‰ê· ì€ ì‚°ìˆ í‰ê· ì„ ì‚¬ìš©í•˜ë©´ ì˜ë¯¸ê°€ ë‹¬ë¼ì§ 

# -> ê¸°í•˜í‰ê· ì„ ì‚¬ìš©í•´ì•¼í•¨

4.333333333333333

In [7]:
# ì§‘í•©ìë£Œí˜•ì„ ì¸ìˆ˜ë¡œ ë°›ì•„ ëª¨ë“  ì›ì†Œë¥¼ ê³±í•œ ê²°ê³¼ë¥¼ ë°˜í™˜í•˜ëŠ” í•¨ìˆ˜

def multiply(arr) :
    ans = 1
    for n in arr :
        if n == 0 :
            return 0
        ans *= n 
    return ans

In [8]:
# ê¸°í•˜í‰ê·  
multiply(year) ** (1/len(year)) # 3.634241185664279

# ì—°í‰ê·  ì•½ 363% ì¦ê°€í•¨ì„ ì•Œ ìˆ˜ ìˆìŒ 
3.634*3.634*3.634 # 47.99044410399999

47.99044410399999

#### ì¡°í™”í‰ê· 
- mmean()í•¨ìˆ˜ ì‚¬ìš©
- ë¹„ìœ¨ ë° ë³€í™”ìœ¨ì— ëŒ€í•œ í‰ê· ì„ ê³„ì‚°í•  ë•Œ ì‚¬ìš© 
- ì£¼ì–´ì§„ ìˆ˜ë“¤ì˜ -> ì—­ìˆ˜ë“¤ì˜ -> ì‚°ìˆ í‰ê· ì—ì„œ -> ì—­ìˆ˜ë¥¼ ì·¨í•œ ê°’

------------------------------------

### 2. ë³€ì´í†µê³„ëŸ‰ 

ë°ì´í„°ê°€ ì–¼ë§ˆë‚˜ í¼ì ¸ìˆëŠ”ì§€ë¥¼ ë‚˜íƒ€ëƒ„ (= ì‚°í¬ë„)
- í•˜ë‚˜ì˜ ìˆ˜ì¹˜ë¡œ ë°ì´í„°ê°€ í©ì–´ì§„ ì €ë„ë¥¼ ê³„ì‚° 
- ëŒ€í‘œê°’(í‰ê· , ì¤‘ì•™ê°’, ìµœë¹ˆìˆ˜ ë“±)ê³¼ ë”ë¶ˆì–´ ë°ì´í„°ë¥¼ ë¹„êµí•˜ëŠ” ê²½ìš°ì— ìœ ìš©í•˜ê²Œ ì‚¬ìš©
    > ex) í‰ê· ì´ ê°™ì€ Aì™€ Bë°˜ì˜ ì„±ì  : ë‘ ì§‘ë‹¨ì´ ë™ì¼í•œ ì§‘ë‹¨ì¼ê¹Œ? (ë°ì´í„° ë¹„êµ)\
      ex2) ì–´ëŠ ëŒ€í•™ì—ì„œ ê°™ì€ ê³¼ëª©ì„ ë‘ êµìˆ˜ê°€ ê°€ë¥´ì¹œë‹¤ í•˜ì.\
           ë‘ êµìˆ˜ ëª¨ë‘ í‰ê·  Cí•™ì ì„ í•™ìƒë“¤ì—ê²Œ ì¤€ë‹¤ë©´, ì–´ë–¤ êµìˆ˜ë¥¼ ì„ íƒí•´ë„ ë§ˆì°¬ê°€ì§€ì¸ ìƒí™©\
           í•˜ì§€ë§Œ í•œ êµìˆ˜ëŠ” ëŒ€ë¶€ë¶„ì˜ í•™ìƒë“¤ì´ í‰ë²”í•´ì„œ Cë¥¼ ì¤¬ê³ ,\
           ë‹¤ë¥¸ êµìˆ˜ëŠ” ë°˜ì€ ìš°ìˆ˜í•˜ì—¬ Aë¥¼ ì£¼ê³  ë°˜ì€ ê³µë¶€ë¥¼ ì•ˆ ë‹¤ ìƒê°í•˜ì—¬ -Dë¥¼ ì¤€ê²ƒì´ë‹¤. 
           ë”°ë¼ì„œ, í©ì–´ì§ì˜ ì •ë„(ì‚°í¬ë„)ë¥¼ ìƒê°í•˜ì§€ ì•Šê³  í‰ê·  ì„±ì ë§Œ ê³ ë ¤í•˜ì—¬ êµìˆ˜ë¥¼ ì„ íƒí•˜ë©´ í•™ì ì„ ë°›ëŠ”ë° ì–´ë ¤ì›€ì„ ê²ªì„ ìˆ˜ ìˆë‹¤.

ë²”ìœ„(range)
- ë°ì´í„°ì˜ ìµœëŒ€ê°’ê³¼ ìµœì†Œê°’ì˜ ì°¨ì´ 
- ë°ì´í„°ê°€ í¼ì ¸ ìˆëŠ” ì •ë„ë¥¼ ë‚˜íƒ€ë‚´ëŠ” ê°€ì¥ **ê°„ë‹¨í•œ** ë°©ë²• 
- ë²”ìœ„ê°€ í´ ìˆ˜ë¡ ì‚°í¬ê°€ í¬ë‹¤ê³  ë§í•  ìˆ˜ ìˆì§€ë§Œ, í‰ê· ê³¼ ë§ˆì°¬ê°€ì§€ë¡œ ê·¹ë‹¨ê°’ì— ì˜í–¥ì„ ë°›ìŒ 
- ë°ì´í„° ì¤‘ 2ê°œì˜ ì •ë³´ (ìµœëŒ“ê°’, ìµœì†Ÿê°’)ë§Œì„ ì´ìš© -> ì ì ˆí•œ ì²™ë„ë¡œ ì‚¬ìš©í•˜ê¸° ì–´ë ¤ì›€ 
- R = max - min

ì¤‘ê°„ ë²”ìœ„(ì¤‘ì•™ê°’ê³¼ ë‹¤ë¦„!!)
- ìµœëŒ“ê°’ê³¼ ìµœì†Ÿê°’ì˜ í‰ê·  

ì‚¬ë¶„ìœ„ê°„ ë²”ìœ„(interquartile range : IQR)
- ë°ì´í„°ë¥¼ í¬ê¸°ìˆœìœ¼ë¡œ ë‚˜ì—´ -> 4ë“±ë¶„ -> Q3(75%) - Q1(25%)

ì‚¬ë¶„ìœ„ìˆ˜ í¸ì°¨(quartile deviation) -> ì´ë¯¸ì§€, ë™ì˜ìƒì—ì„œ ìŒíŒŒë¥¼ ë¶„ë¦¬í•œ íŒŒí˜• í¸ì°¨ë¥¼ êµ¬í•  ë•Œ ì‚¬ìš© 
- ë²”ìœ„ì˜ ë¬¸ì œì ì„ ë³´ì™„í•œ ì²™ë„ 
- ì‚¬ë¶„ìœ„ê°„ ë²”ìœ„ì˜ ê°’ì„ 2ë¡œ ë‚˜ëˆˆ ê°’ (= ì‚¬ë¶„ìœ„ë²”ìœ„ì˜ í‰ê· ê°’)

ë¶„ì‚° (variance)
- ì‚°í¬ë„ì˜ ì²™ë„ë¡œ ê°€ì¥ ë„ë¦¬ ì‚¬ìš©ë˜ëŠ” ë°©ë²• 
- ë°ì´í„°ê°€ í¼ì ¸ìˆëŠ” ì •ë„ì˜ ê¸°ì¤€ìœ¼ë¡œ í‰ê· ì„ ì‚¬ìš© (ê¸°ì¤€=í‰ê· )
- ê³„ì‚°ë²• : ê° ë°ì´í„°ì™€ í‰ê· ê³¼ì˜ ì°¨ì´ë¥¼ ì œê³±í•˜ì—¬ í•©í•œ ê°’ì˜ í‰ê·  (ì–‘ìˆ˜ì™€ ìŒìˆ˜ê°€ í•¨ê»˜ ìˆìœ¼ë©´ ìƒì‡„ê°€ ë°œìƒ -> ì œê³±í•˜ëŠ” ì´ìœ )
    - ë°ì´í„° = ëª¨ì§‘ë‹¨ ì „ì²´ -> ë°ì´í„°ì˜ ê°œìˆ˜(nê°œ)ë¡œ ë‚˜ëˆ„ì–´ì¤Œ 
    - ë°ì´í„° = í‘œë³¸ì¼ ê²½ìš° -> (n-1)ë¡œ ë‚˜ëˆ„ì–´ì¤Œ
        - í‘œë³¸ì˜ ê²½ìš° nìœ¼ë¡œ ë‚˜ëˆ„ì–´ ì£¼ëŠ”ê²ƒ ë³´ë‹¤ n-1ë¡œ ë‚˜ëˆ„ì–´ì£¼ëŠ”ê²ƒì´ ë” ì¢‹ì€ ì²™ë„ê°€ ë¨
        - í‘œë³¸ì˜ í¬ê¸°ê°€ í´ ê²½ìš°ì—” ë³„ ì°¨ì´ ì—†ìŒ

In [9]:
# ë¶„ì‚° ê³„ì‚° - var() ì‚¬ìš©

import numpy as np
import pandas as pd

x = [1,2,3,4,5]
print(np.var(x, ddof = 1)) # ddof : 1 = ììœ ë„ê°€ í‘œë³¸ / 0 = ììœ ë„ê°€ ëª¨ì§‘ë‹¨ # ì—¬ê¸°ì„œëŠ” ë¶„ëª¨ê°€ n-1
print(np.array(x).var()) # ddof = 0 : ììœ ë„ê°€ ëª¨ì§‘ë‹¨ (ë¶„ëª¨ =n)
print(pd.Series(x).var(ddof=0)) # ddof = 0 : ììœ ë„ê°€ ëª¨ì§‘ë‹¨ (ë¶„ëª¨ =n)

# ê°’ì˜ ìŠ¤ì¼€ì¼ì— í¬ê²Œ ì˜í–¥ì„ ë°›ê¸° ë•Œë¬¸ì— 
# ë³€ìˆ˜ë¥¼ ìŠ¤ì¼€ì¼ë§í•œ í›„ -> ë¶„ì‚°, í‘œì¤€í¸ì°¨ë¥¼ êµ¬í•˜ëŠ”ê²Œ ì¢‹ìŒ

2.5
2.0
2.0

í‘œì¤€í¸ì°¨(standard deviation)
- ê³„ì‚°ëœ ë¶„ì‚°ì˜ ì œê³±ê·¼ìœ¼ë¡œ ê³„ì‚° 
- í‰ê· ì„ ì¤‘ì‹¬ìœ¼ë¡œ ì¼ì •í•œ ê±°ë¦¬ì— í¬í•¨ëœ ë°ì´í„°ì˜ ë¹„ìœ¨ì´ ì–¼ë§ˆì¸ê°€ë¥¼ ê³„ì‚° 
- **ëª¨ë“  ë°ì´í„°ë¥¼** ê³ ë ¤í•œ ì²™ë„
- íŠ¹ì§• 
    - ëª¨ë“  ë°ì´í„°ê°€ ë™ì¼í•œ ê°’ì„ ê°–ëŠ”ë‹¤ë©´ ë¶„ì‚°ê³¼ í‘œì¤€í¸ì°¨ = 0
    - ëª¨ë“  ë°ì´í„°ì— ë™ì¼í•œ ê°’ì„ ë”í•´ì£¼ê±°ë‚˜ ë¹¼ë„ ë³€í•˜ì§€ ì•ŠìŒ 
    - ëª¨ë“  ë°ì´í„°ì— ë™ì¼í•œ ê°’(c)ì„ ê³±í•˜ë©´ ë¶„ì‚°ì€ ë¶„ì‚°xğ¶^2ìœ¼ë¡œ í‘œì¤€í¸ì°¨ëŠ” í‘œì¤€í¸ì°¨Ã—ğ¶ ë§Œí¼ ì»¤ì§
- ë¶„ì‚°ì—ì„œ ì œê³±ì˜ ì˜í–¥ì„ ì—†ì•¤ ì§€í‘œ
- ë¶„ì‚°ê³¼ í‘œì¤€í¸ì°¨ê°€ í¬ë©´ í´ìˆ˜ë¡ ì‚°í¬ê°€ í¬ë‹¤

In [10]:
# í‘œì¤€í¸ì°¨ ê³„ì‚° : std()

x = [1,2,3,4,5]
print(np.std(x, ddof = 1))
print(np.std(x, ddof = 0))
print(np.array(x).std(ddof=1))
print(pd.Series(x).std())

1.5811388300841898
1.4142135623730951
1.5811388300841898
1.5811388300841898

ë³€ë™ê³„ìˆ˜ (CV : Coefficient of variable)
- í‘œë³¸ í‘œì¤€í¸ì°¨ë¥¼ í‘œë³¸í‰ê· ìœ¼ë¡œ ë‚˜ëˆˆ ê°’ ë˜ëŠ” ê·¸ ê°’ì— 100ì„ ê³±í•œ ê°’ 
- ìƒëŒ€ í‘œì¤€í¸ì°¨
- **ì„œë¡œ ë‹¤ë¥¸ í‰ê· ê³¼ í‘œì¤€í¸ì°¨ë¥¼ ê°–ëŠ” ì—¬ëŸ¬ ë°ì´í„°ì˜ í©ì–´ì§„ ì •ë„ë¥¼ ë¹„êµ** í•  ë•Œ ì‹œìš©
- ë³€ë™ê³„ìˆ˜ ê°’ì´ í¬ë‹¤ëŠ” ê²ƒì€ ë°ì´í„°ì˜ í©ì–´ì§„ ì •ë„ê°€ ìƒëŒ€ì ìœ¼ë¡œ í¬ë‹¤ëŠ” ì˜ë¯¸ 

ë³€ë™ê³„ìˆ˜ì˜ í•„ìš”ì„±
- ë³€ìˆ˜ ìŠ¤ì¼€ì¼ë§ í•œ í›„ í‘œì¤€í¸ì°¨ë¥¼ êµ¬í•¨(ë°ì´í„°ê°€ ëª¨ë‘ ì–‘ìˆ˜ì¸ ê²½ìš° ë³€ë™ê³„ìˆ˜ ì‚¬ìš©)

In [11]:
from scipy.stats import *
x1 = np.array([1,2,3,4,5])
x2 = x1 * 10
print(np.std(x1, ddof=1)) # í‘œì¤€í¸ì°¾
print(np.std(x2, ddof=1))

# ë³€ë™ê³„ìˆ˜ëŠ” ë™ì¼ !!
print(variation(x1, ddof = 0)) 
print(variation(x2)) # ììœ ë„ = 0

# ë³€ë™ ê³„ìˆ˜ ìˆ˜ì‹
print(np.std(x1, ddof=1)/np.mean(x1))
print(np.std(x2, ddof=1)/np.mean(x2))

1.5811388300841898
15.811388300841896
0.47140452079103173
0.4714045207910317
0.5270462766947299
0.5270462766947299

### 3. ìŠ¤ì¼€ì¼ë§(í‘œì¤€í™”)
- í‰ê·  : 0, í‘œì¤€í¸ì°¨ : 1 ì´ë¨
- ê° ê°’ë“¤ì„ ìƒëŒ€ì ì¸ ê°’ìœ¼ë¡œ ë³€í™”ì‹œí‚¤ëŠ” ê¸°ë²• 
- í‰ê· ì´ 95ì (êµ­ì–´), í‰ê· ì´ 30(ìˆ˜í•™) ì¼ ë•Œ, 
    - êµ­ì–´-90, ìˆ˜í•™-80ì´ë¼ë©´ ì–´ë–¤ ê³¼ëª©ì„ ë” ì˜ í•˜ëŠ”ê±´ê°€?
- í‘œì¤€í™”ëœ ë°ì´í„°ëŠ” ì ìˆ˜ ê°™ì€ ë‹¨ìœ„ë¥¼ ì‚¬ìš©í•˜ì§€ ì•ŠëŠ”ë‹¤.

In [12]:
print(x1)
print(x2)

# standard scaling - í‰ê· ì´ 0, í‘œì¤€í¸ì°¨ê°€ 1ì´ë¨ 
# (data - data_set.mean())/data_set.std()

z1 = (x1 - x1.mean())/x1.std()
z2 = (x2-x2.mean())/x2.std()

print(z1)
print(z2) # ë³´í†µ -3ì—ì„œ +3ê¹Œì§€ ë¶„í¬ë¨

print(z1.mean())
print(z1.std())

[1 2 3 4 5]
[10 20 30 40 50]
[-1.41421356 -0.70710678  0.          0.70710678  1.41421356]
[-1.41421356 -0.70710678  0.          0.70710678  1.41421356]
0.0
0.9999999999999999

#### í‘œì¤€í™” ì˜ˆì œ

In [13]:
df = pd.read_csv('c:/my_python/data/ch2_scores_em.csv',
                 index_col = 'student number')
df.head()

                english  mathematics
student number
1                    42           65
2                    69           80
3                    56           63
4                    41           63
5                    57           76

In [26]:
scores = df.loc[1:10]
scores.index = ['A','B','C','D','E','F','G','H','I','J']
scores.index.name = 'students'
print(scores.mean())
print(scores.std())
scores

english        55.0
mathematics    71.4
dtype: float64
english        9.775252
mathematics    8.720347
dtype: float64

          english  mathematics
students
A              42           65
B              69           80
C              56           63
D              41           63
E              57           76
F              48           60
G              65           81
H              49           66
I              65           78
J              58           82

In [30]:
# í‘œì¤€í™”
z_scores = (scores-scores.mean())/scores.std()
print(z_scores)
print(z_scores.mean()) # ê±°ì˜ 0ì´ë¼ê³  ë´„ 
print(z_scores.std())

           english  mathematics
students
A        -1.329889    -0.733916
B         1.432188     0.986199
C         0.102299    -0.963264
D        -1.432188    -0.963264
E         0.204598     0.527502
F        -0.716094    -1.307287
G         1.022992     1.100874
H        -0.613795    -0.619241
I         1.022992     0.756851
J         0.306897     1.215548
english        2.775558e-17
mathematics   -6.883383e-16
dtype: float64
english        1.0
mathematics    1.0
dtype: float64

#### sklearnì„ ì´ìš©í•œ ìŠ¤ì¼€ì¼ë§ - ë¨¸ì‹ ëŸ¬ë‹ì„ ìœ„í•´ ì“°ëŠ” ê²½ìš°ê°€ ëŒ€ë¶€ë¶„
- dfì˜ ê° **ì—´**ì— ëŒ€í•´ì„œ ìŠ¤ì¼€ì¼ë§ í•˜ëŠ”ë° ì í•© 
     - ë”°ë¡œ ë”°ë¡œ êµ¬í•´ì¤„ í•„ìš” ì—†ìŒ

In [45]:
import numpy as np
import pandas as pd

X = pd.DataFrame({'X1' : [1,2,3,4,5],
                  'X2' : [10, 20, 30, 40, 50]})
X

   X1  X2
0   1  10
1   2  20
2   3  30
3   4  40
4   5  50

In [52]:
# í‘œì¤€í™”
from sklearn.preprocessing import StandardScaler 
scaler = StandardScaler() # ì¸ìŠ¤í„´ìŠ¤ ìƒì„± 
Z = scaler.fit_transform(X) # í‘œì¤€í™” ì§„í–‰ í›„ array ë°˜í™˜ !!! ì¤‘ìš”!!!!!!!!
print(Z)
print(type(Z))
print(Z.mean())
print(Z.std()) # í‘œì¤€í¸ì°¨ê°€ ê°™ê¸° ë•Œë¬¸ì— ìŠ¤ì¼€ì¼ë§ ê²°ê³¼ê°€ ê°™ì€ ê°’ìœ¼ë¡œ ë‚˜ì˜¤ê²Œ ëœë‹¤.

[[-1.41421356 -1.41421356]
 [-0.70710678 -0.70710678]
 [ 0.          0.        ]
 [ 0.70710678  0.70710678]
 [ 1.41421356  1.41421356]]
<class 'numpy.ndarray'>
0.0
0.9999999999999999

In [53]:
# ê·¸ë˜ì„œ í•„ìš”í•˜ë‹¤ë©´ DFë¡œ ë‹¤ì‹œ ë³€í™˜ í•´ì¤˜ì•¼í•¨ !!!
pd.DataFrame(Z)

          0         1
0 -1.414214 -1.414214
1 -0.707107 -0.707107
2  0.000000  0.000000
3  0.707107  0.707107
4  1.414214  1.414214

#### MinMaxScaling
- ì–¸ì œë‚˜ ìµœì†Ÿê°’ê³¼ ìµœëŒ“ê°’ì´ ê· ì¼í•˜ë‹¤ë©´ ì‚¬ìš©ê°€ëŠ¥
- ê·¸ë ‡ì§€ ì•Šë‹¤ë©´ ì‚¬ìš©í•˜ì§€ ë§ê²ƒ !
1. ê³„ì‚°ì‹ ì‚¬ìš© : (data - data_set.min()) / (data_set.max()-data_set.min())
2. sklearnì˜ MinMaxScaler ì‚¬ìš©

In [55]:
# 1. ê³„ì‚°ì‹ ì‚¬ìš©

x1 = np.array([1,2,3,4,5])
x2 = x1 * 10

z1 = (x1-x1.min())/x1.max()-x1.min()
z2 = (x2-x2.min())/x2.max()-x2.min()

print(z1)
print(z2)

[-1.  -0.8 -0.6 -0.4 -0.2]
[-10.   -9.8  -9.6  -9.4  -9.2]

In [63]:
# 2. sklearnì˜ minmax ì‚¬ìš© 

from sklearn.preprocessing import MinMaxScaler
mm = MinMaxScaler()

print(X) # x1, x2ê°€ ì¹¼ëŸ¼ìœ¼ë¡œ ìˆëŠ” DataFrame
print(type(X))

Z = mm.fit_transform(X) # ì¸ìë¡œ DataFame ì‚¬ìš© 
print(Z)
print(type(Z)) # í•˜ì§€ë§Œ ë„˜íŒŒì´ ë°°ì—´ë¡œ ì¶œë ¥ë¼ì„œ ë‚˜ì˜´ 
pd.DataFrame(Z) # í•„ìš”ì‹œ DataFrameìœ¼ë¡œ ë‹¤ì‹œ ë°”ê¿”ì¤˜ì•¼í•¨

   X1  X2
0   1  10
1   2  20
2   3  30
3   4  40
4   5  50
<class 'pandas.core.frame.DataFrame'>
[[0.   0.  ]
 [0.25 0.25]
 [0.5  0.5 ]
 [0.75 0.75]
 [1.   1.  ]]
<class 'numpy.ndarray'>

      0     1
0  0.00  0.00
1  0.25  0.25
2  0.50  0.50
3  0.75  0.75
4  1.00  1.00

#### í¸ì°»ê°’ 
- í‰ê· ì´ 50, í‘œì¤€í¸ì°¨ê°€ 10ì´ ë˜ë„ë¡ ê·œì •í•œ ê°’

In [64]:
z = 50 + 10 * (scores - np.mean(scores))/np.std(scores)

result = pd.concat([scores, z], axis = 1)
result.columns = ['ì˜ì–´', 'ìˆ˜í•™', 'ì˜ì–´í¸ì°»ê°’', 'ìˆ˜í•™í¸ì°»ê°’']
result[['ì˜ì–´', 'ì˜ì–´í¸ì°»ê°’', 'ìˆ˜í•™', 'ìˆ˜í•™í¸ì°»ê°’']] # ë³´ê³ ì‹¶ì€ ì—´ ìˆœì„œëŒ€ë¡œ ì¶”ì¶œ

c:\anaconda\lib\site-packages\numpy\core\fromnumeric.py:3438: FutureWarning: In a future version, DataFrame.mean(axis=None) will return a scalar mean over the entire DataFrame. To retain the old behavior, use 'frame.mean(axis=0)' or just 'frame.mean()'
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)

          ì˜ì–´      ì˜ì–´í¸ì°»ê°’  ìˆ˜í•™      ìˆ˜í•™í¸ì°»ê°’
students
A         42  35.981739  65  42.263848
B         69  65.096588  80  60.395454
C         56  51.078328  63  39.846301
D         41  34.903412  63  39.846301
E         57  52.156655  76  55.560359
F         48  42.451706  60  36.219980
G         65  60.783277  81  61.604227
H         49  43.530034  66  43.472622
I         65  60.783277  78  57.977906
J         58  53.234983  82  62.813001

In [65]:
print(z.mean())
print(z.std())

english        50.0
mathematics    50.0
dtype: float64
english        10.540926
mathematics    10.540926
dtype: float64